body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* General Body Styles */
body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    background-color: #f8f9fa; 
    color: #343a40; 
}

/* Main Background Color */
.main-bg {
    background-color: #ffffff; 
}

/* Navigation Styles */
.navbar {
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav-link {
    color: #343a40; 
}

.nav-link:hover {
    color: #dc3545; 
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.red-o {
    color: #dc3545; 
}


/* Footer Styles */

.footer {
    background-color: #343a40; 
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #ffffff; /
}

.footer a:hover {
    text-decoration: underline; 
}


/* Card Styles */
.card {
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    margin: 10px; 
    height: 100%;
}

.card-img-top {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    margin-top: auto;
}


/* Button Styles */
.btn-primary {
    background-color: #dc3545; 
    border: none; 
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #c82333; 
}











