* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    color: #343a40; /* Dark gray text */
    line-height: 1.6;
}