{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>All Categories</h1>
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <a href="{% url 'recipes_by_category' category.id %}" class="text-decoration-none">{{ category.name }}</a>
                </li>
            {% endfor %}
            {% if not categories %}
                <p>No categories available.</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}
