{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center">Explore Delicious Recipes</h1>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4 mb-4">
                <div class="recipe card">
                    {% if recipe.featured_image %}
                        <img src="{{ recipe.featured_image.url|add:'?secure=True' }}" class="card-img-top" alt="Image of {{ recipe.title }}" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">{{ recipe.description|truncatewords:20 }}...</p>
                        <a href="{% url 'recipe_detail' recipe.pk %}" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center alert alert-warning">No recipes found. Consider adding some delicious recipes!</p>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                    </li>
                {% endif %}
    
                {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                    </li>
                {% endfor %}
                
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
