
{% extends 'base.html' %}

{% block content %}
    <h2>Recipe List</h2>
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a>
                <p>{{ recipe.description|truncatewords:20 }}</p>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if recipes.has_previous %}
            <a href="?page={{ recipes.previous_page_number }}">Previous</a>
        {% endif %}
        <span>Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}</span>
        {% if recipes.has_next %}
            <a href="?page={{ recipes.next_page_number }}">Next</a>
        {% endif %}
    </div>
{% endblock %}