{% extends 'base.html' %}  <!-- This line extends base.html -->

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Recipes in the "{{ category.name }}" category</h1>
        
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text">{{ recipe.description }}</p>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No recipes found in this category.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
