<!-- foodblog/templates/foodblog/recipe_list.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center">Explore Delicious Recipes</h1>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">{{ recipe.description|truncatewords:20 }}</p>
                        <a href="{% url 'recipe_detail' recipe.pk %}" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No recipes found.</p>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if recipes.has_previous %}
                <li>
                    <a href="?page={{ recipes.previous_page_number }}"class="page-link">Previous &laquo;</a>
                </li>
                {% endif %}

                <li class="page-item active"><span class="page-link">{{ recipes.number }}</span></li>

                {% if recipes.has_next %}
                <li>
                    <a href="?page={{ recipes.next_page_number }}"class="page-link">NEXT &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
